<% content_for :title do %>Kontakt<% end %>
<div class="row">

<div class="large-10 columns">

	<div class="medium-4 columns">
		<h4>Postadresse</h4>
			VSETH / Kommission SPOD<br />
			CAB E11<br />
			Universitätsstr. 6<br />
			8092 Zürich
		<h4>Telefon und Email</h4>
			Tel. 044 632 34 61<br/>
			Email: <strong>info (ät) spod.ethz.ch</strong>
	</div>

	<div class="medium-6 columns">
		<img src="/assets/lageplan_gross.gif">
	</div>

</div>
</div>
