<div class="row">

		<h2>Was ist SPOD?</h2>
			<p> SPOD (Student Print On Demand) ist eine Dienstleistung für Studenten.  Sie bietet alte Prüfungsaufgaben für die Prüfungsvorbereitung sowie  Skripte für alle möglichen Vorlesungen vom Bachelor und Master an.  Diese Dokumente werden im <a href="http://spod.ethz.ch/" style="color:red"><strong><u>Webshop</u></strong></a> bestellt,  vom SPOD sofort ausgedruckt und sind dann schon abholbereit.  Besucht uns mal auf einen Kaffee !</p>
	</div>

  <div class="medium-7 columns">
    <img src="/assets/team_2013_v1.jpg">
    <br>
    <p>Da unser Team langsam überaltert, suchen wir dringend junge, neue Leute, die in einem motivierten Team mitarbeiten (und vor allem mitfeiern) wollen. Insbesondere ein/-e Eventmanager/-in und ein/-e Mitgliederwerber/-in werden dringend gesucht. Je nach Fähigkeiten und Interessen können auch neue Tätigkeitsfelder geschaffen werden. Oder ihr unterstützt jemanden in seiner bisherigen Tätigkeit.<br></p>

    <p><strong>Lohn</strong><br>
  			Weihnachtsessen, gutes Team, Kaffee, Teamwochenende, Teilnahme an Events vom VSETH, Erfahrungen, Tag und Nacht Zugang zu einem Büro in unmittelbarer Nähe des StuZ, ...<br>
  			Am besten kommt ihr mal auf ein Kaffee vorbei und diskutiert ein wenig mit uns. Wir freuen uns auf jeden Besuch!<br></p>

  </div>

  <div class="medium-5 columns">
    <h3>Das Team</h3>
		<ul>
			<li>Yavuz Çelik -- Präsident -- im Praktikum</li>
			<li>Florence M&uuml;ller -- CFO</li>
    	<li>Mario Kov&aacute;cs -- CEO</li>
      <li>Dat Nguyen -- COO</li>
    	<li>Emir Çabukoğlu -- Sponsoring -- im Praktikum</li>
      <li>Adonis Engler</li>
			<li>Oliver Richter</li>
			<li>Samuel Zumtaugwald</li>
			<li>Tobias Geisler</li>
			<li>Nida Usta</li>
			<li>Simon Wyss -- im Praktikum</li>
			<li>Keyvan Tavakoli</li>
			<li>Judit Jäger</li> 
			<li>Markus Marschall</li>
      <li>Karen Ivonne Torres</li>
      <li>Juan Pablo Calvo Sanchez</li>
		</ul>
    <p><button class="button" data-dropdown="contentDrop" aria-controls="contentDrop" aria-hidden="true">Ehemalige &raquo;</button></p>
    <div id="contentDrop" class="f-dropdown medium open" data-dropdown-content aria-expanded="false" tabindex="-1">
    <table role="grid">
       <tbody>
         <tr>
             <td class="leftcol" width="251">
               <li>Alexander Pervanidis</li>
               <li>Steffi Kochbeck</li>
               <li>Patrick Kuppinger</li>
               <li>Stefan Schori</li>
               <li>Schorsch Risch</li>
               <li>Marion Bugmann</li>
               <li>Dave Rohrbach</li>
               <li>Justus Lambrecht</li>
               <li>Marco Jakob</li>
               <li>Samuel Keller</li>
               <li>Christoph Merz</li>
               <li>Vali Keller</li>
               <li>Marcel Strittmatter</li>
               <li>Roman Kappeler</li>
               <li>Jens Mitzscherlich</li>
               <li>Viktor Jooss</li>
            </td>
            <td class="rightcol" width="251">
               <li>Barna Becsek</li>
               <li>Maaike Ortibus</li>
               <li>Maximilian LeGuerer</li>
               <li>Fabio Burgener</li>
               <li>Olivier Adler</li>
               <li>Michael Kronig</li>
               <li>Bruno Lüth</li>
               <li>Andre Ulbers</li>
               <li>George Chatzipirpiridis</li>
               <li>Antoine Charpentier</li>
               <li>Jonas Güresir</li>
               <li>Timo Schneider</li>
               <li>Bernhard Leistner</li>
               <li>David S&ouml;lter</li>
               <li>Dilan &Ouml;zkilic</li>
            </td>
         </tr>
       </tbody>
    </table>
      
    </div>
  </div>
</div>
