<% content_for :title do %>Lust auf Mitmachen<% end %>

<div class="row">
<h4>Mitarbeit bei SPOD</h4>
	<div class="medium-12 columns">
		<p>Unser Verein sucht laufend neue, hoch motivierte Studenten, die sich bei SPOD engagieren. Wir bieten abwechslungsreiche T&auml;tigkeiten im Bereich Dokumentenbeschaffung, Sponsoring/Marketing, Programmierung, Vertrieb und Finanzen. Zus&auml;tzlich besteht aktueller Bedarf zur Erweiterung des Vorstandes.</p>
	</div>

<div class="medium-12 columns">
	<div class="medium-6 columns">
		<h5>Was Dir SPOD bietet:</h5>
			<ul>
			<li>Abwechslungsreiche T&auml;tigkeiten in einem interdisziplin&auml;ren Team</li>
			<li>Theorie aus dem Studium in die Praxis zu transferieren</li>
			<li>Selbst&auml;ndiges Arbeiten, kaum vorgegebene Pr&auml;senszeiten </li>
			<li>Ehrenamtliche T&auml;tigkeit bei einer Studentenkommission zu leisten (gut f&uuml;r den Lebenslauf)</li>
			<li>Ein Arbeitszeugnis vom VSETH </li>
			<li>Druckleistungen vom SPOD gratis beziehen </li>
			<li>Vielseitige Mitarbeiter-Events wie Weihnachtsessen und Team-Weekend</li>
			</ul>
	</div>
	<div class="medium-6 columns">
		<h5>Anforderungen::</h5>
			<ul>
			<li>Aktiver Student an der ETH oder Uni Z&uuml;rich (alle Fachrichtungen)</li>
			<li>Selbstst&auml;ndige und zuverl&auml;ssige Arbeitsweise </li>
			<li>Teamf&auml;higkeit</li>
			<li>Hohe Motivation</li>
			<li>Offenheit und Lernbereitschaft </li>
			<li><em>Wichtig</em>: Du hast keine Allergien gegen Pizzas, da wir monatlich miteinander Pizzas essen müssen.</li>
			</ul>
	</div>
</div>

<div class="medium-12 columns">
		<p>Im Moment suchen wir: Freie/r MitarbeiterInnen </p>
</div>		

<div class="medium-12 columns">
	<div class="medium-6 columns">
		Deine Aufgaben beinhalten:
			<ul>
				<li> Sammlung von alten Pr&uuml;fungen</li>
				<li> evtl. Scannen und Einsortieren der Dokumente in unserem Webshop </li>
				<li> Durchsuchen von diversen Homepages nach alten Pr&uuml;fungen </li>
				<li> Wochentlich eine-Stunde lang Präsenz zwischen 12 und 13 Uhr halten.</li>
			</ul>
	</div>

	<div class="medium-6 columns">
		Dein Profil:
			<ul>
				<li> H&ouml;fliches aber hartn&auml;ckiges Auftreten </li>
				<li> Lust mit Professoren und Oberassistenten in Kontakt zu treten </li>
			</ul>
	</div>
</div>

		<div class="medium-12 columns">
		<h5>Interesse geweckt?</h5>
			<p>Dann melde dich unter info (&auml;t) spod.ethz.ch oder komm auf einen Kaffee bei uns im Shop vorbei.</p>
	</div>

</div>
