<% content_for :title do %>Angebot/Preise<% end %>
<div class="row">

	<div class="large-7 columns">
		<h3>Webshop</h3>
      <p><strong>Für Studenten</strong><br/></p>
      <ul>
      	<li>einfaches Bestellen von alten Prüfungen und aktuellen Skripten</li>
      	<li>Hochladen, Druck und Verwaltung von eigenen Dokumenten</li>
				<li>Bereitstellen von eigenen Dokumenten wie Zusammenfassungen für andere Studenten</li>
				<li>Dokumente binden (mit Metall-/Plastikringe oder mit Klebebindung)</li>
			</ul>	
       <p><strong>Für Dozenten</strong><br/></p>

       <p>Wir stellen die Skripten für ihre Studenten bereit. Vorteile von unserem Print on Demand Ansatz gegenüber Vorlesungsverkauf sind günstigere Druckkosten, geringere Umweltbelastungen, weil nur soviele Skripte ausgedruckt werden wie nötig und keinerlei administrativer Aufwand für Sie. Bei Interesse oder für mehr Informationen <%= link_to 'kontaktieren', controller:'spod', action:'contact' %> sie uns per Mail oder rufen Sie uns an!</p>

	</div>

	<div class="large-5 columns">       
		<h4>Preisliste</h4>
			<p><strong><h5>Drucke und Kopien</h5>
	  </strong>
	 
	  <table width="260">
	  	<thead>
				<tr>
					<th>Art</th>
					<th>Preis (pro Seite)</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>schwarz/weiss</td>
					<td class="rightcol">0.04 SFr.</td>
				</tr>
				<tr>
					<td>farbig</td>
					<td class="rightcol">0.10 SFr.</td>
				</tr>
			</tbody>		
		</table>
		<table width="260">
			<tbody>
				<tr>
        	<td>Binden (pro Dokument)</td>
					<td class="rightcol">2.-- SFr.</td>
				</tr>	
			</tbody>
		</table>
	</div>
  
  <div class="large-12 columns">      
        <h5>Broschüren-Drucken</h5>
<!--         <p><img alt="broschueren" src="../images/broschueren.jpg" width="200" height="150"></p>        
 -->        <p><strong>Preis: </strong><em>Preis-Calc coming soon!</em></p>
        <ul>
					<li>Es ist möglich A5 als auch A4 Broschüren von bis zu 80 Seiten farbig, schwarz/weiss</li>
          <li>Papier: Inahlt: A4 bzw. A3 (90g/m2) & Cover: A4 bzw. A3 (160g/m2)</li>
          <li>Support von SPOD</li>
          <li>Möglichkeit, auch ausserhalb der Bürozeiten und am Wochenende zu abholen.</li>
        </ul>
  </div>
</div>


